html{
    font-family: 'Nanum Myeongjo', serif;
    list-style-type: none;
}
body{
    background-color: #eafdf8;
    color:rgb(137, 101, 235);
    text-align: center;
}
header {
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #c0e4c9;
    margin-bottom: 4vh;
}
p{
    color: rgb(137, 101, 235);
}
h1{
    color: rgb(137, 101, 235);
}
h2{
    color: #8c5e58;
}
h3{
    color: #7c616c;
}
h4{
    color: #736f72;
}
li {
    list-style-type: none;
}
img:hover{
    width: 200px;
    height: auto;
}
.resumeboldstuff{
    color: white;
    font-family: system-ui;
    text-align: center;
    font: 40px system-ui;
    font-style: italic;
    background-image: linear-gradient(to left, rgb(147, 179, 171), hsl(162, 81%, 58%), rgb(112, 22, 175), hsl(162, 81%, 58%), cyan);
    border-radius: 5px;
}
.resumetextsmall{
    background-color: #a0ffef;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    box-shadow: 0 0 8px 8px #ffffff inset;
}
