html {
    font-family: 'Nanum Myeongjo', serif;
}

body{
    background-color: rgb(130, 206, 241);
    color:rgb(251, 255, 0);;
    text-align: center;
}

li {
    list-style-type: none;
}

img{
    width: 300px;
    height: auto;
}

img:hover{
    width: 200px;
    height: auto;
}